<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout">
	<th:block layout:fragment="title">
		<title>Board 목록</title>
	</th:block>

	<th:block layout:fragment="addiJs">
		<script src="/js/board.js"></script>
	</th:block>

	<th:block layout:fragment="content">
		<table class="table my-5">
			<thead>
				<tr class="table-dark">
					<th>id</th>
					<th>제목</th>
					<th>최초등록일</th>
					<th>업데이트일</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="row: ${result}">
					<td th:text="${row.id}"></td>
					<td><a th:href="@{/board/view.do( id=${row.id} )}" th:text="${row.title}"></a></td>
					<td th:text="${#calendars.format( row.frstRegistDate, 'yyyy-MM-dd HH:mm' ) }"></td>
					<td th:if="${row.updateDate != null}" th:text="${#calendars.format( row.updateDate, 'yyyy-MM-dd HH:mm' ) }"></td>
					<td th:unless="${row.updateDate != null}">-</td>
				</tr>
			</tbody>

			<tfoot class="btn-box">
				<tr>
					<td colspan="5" class="btn_section">
						<a th:href="@{/board/regist.do}" class="btn btn-sm btn-primary">등록</a>
						<i class="fa-solid fa-circle-question"></i>
						<div class="smPopupBox">
							<div class="smPopupBoxContent">
								<p th:text="qwertyqwertyqwertyqwertyqwerty"></p>
							</div>
							<div class="smPopupBoxBehind"></div>
						</div>
					</td>
				</tr>
			</tfoot>
		</table>
	</th:block>
</html>