<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="board/layout/basic">
	<th:block layout:fragment="title">
		<title>등록 / 변경</title>
	</th:block>
	<th:block layout:fragment="content">
		<div class="row">
			<h2>
				Do Regist!
			</h2>
			
			<form th:action="@{/board/regist.do}" method="post" th:object="${item}" class="form">
				<input type="hidden" name="id" th:if="*{id != null and id > 0}" th:field="*{id}">
				
				<div>
					<label for="title" class="form-label">제목</label>
					<input type="text" name="title" th:field="*{title}" placeholder="제목을 입력해주세요." class="form-control">
				</div>
				<div>
					<label for="title" class="form-label">내용</label>
					<textarea name="content" th:field="*{content}" placeholder="내용을 입력해주세요." style="min-width: 300px; min-height: 400px;"  class="form-control"></textarea>
				</div>
				
				<div class="btn-box">
					<button type="submit" class="btn btn-sm btn-primary">저장</button>
					<a th:href="@{/selectList.do}" class="btn btn-sm btn-secondary">취소</a>
				</div>
			</form>
		</div>
	</th:block>
</html>