<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout">
<!--    <div th:fragment="fragment-menu">-->
<!--        <div><h2 th:text="HelloWorld"></h2></div>-->
<!--        <div>-->
<!--            <ul th:each="result: ${resultList}">-->
<!--                <li th:text="${result.smenuName}"/>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<h2 class="sayhello">hello world</h2>
</html>